logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/node_modules

#ruby
.bundle

#OS X
.DS_Store
application.home_IS_UNDEFINED/

public/images/
public/fonts/
public/styles/
public/scripts/
public/lib/
public/javascripts/
public/index.html
npm-debug.log
public/views/
yarn-error.log
leveldb
